@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans/OpenSans-Light.ttf");
	font-size: 1em;
}

header{
	width: 100%;
	height: 150px;
	background-color: rgba(219, 6, 6, .8);
	z-index: 2;
	position: relative;
	
}
header .container{
	position: relative;
}
header .header-blue{
	background-color: #061170;
	height: 40px;

}
header #logotipo{
	position: absolute;
	top: 7px;
}

#menu{
	margin: 26px 0;
}

#menu li {
	display: inline-block;
	font-family: "OpenSans";
	
}

#menu li.search{
	width: 182px;
}

#menu li.search input{
	background-color: #db0606;
	color: #FFF;
	border: none;
	height: 30px;
	line-height: 30px;
}

#menu li.search ::-webkit-input-placeholder{
	color: #FFF;
}

#menu li.search button{
	background: none;
	border: none;
	position: absolute;
	right: 3px;
	top: 7px;
}

#menu li.search button i{
	font-size: 14px;
	color: rgba(255, 255, 255, .5);
}

#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;

}

#menu li.search .input-group{
	top: 9px;
}

#banner{
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/banner.jpg") no-repeat;
	top: -110px;
	background-position: 0px -100px;
}

#banner h1{
	color: #FFF;
	top: 300px;
	font-size: 92px;
	position: relative;
	text-shadow: 2px 2px 2px rgba(0,0,0, .45);
	font-family: "OpenSans-Light";
	margin-left: 98px;
}

#banner h1 small{
	font-size: 32px;
	display: block;
	color: #FFF;
	font-family: "OpenSans";
	font-weight: bold;
}

#noticias{
	position: relative;
	top: -110px;
}

#noticias h2{
	color: #061170;
	font-family: "OpenSans-Light";
	font-size: 48px;
	text-transform: uppercase;
	text-align: center; 
}

#noticias hr{
	border: #db0606 solid 8px;
	width: 200px;
	margin: 0 auto;
}

#noticias .thumbnails{
	margin-top: 20px;
}

#noticias .thumbnails h3{
	color: #061170;
	font-size: 18px;
	font-family: "OpenSans";
	font-weight: bold;
	margin-bottom: 0;
}

#noticias .thumbnails time{
	color: #A7A7A7;
	font-size: 18px;
	font-family: "OpenSans";

}

#estatisticas{
	background-color: #db0606;
	width: 100%;
	height: 200px;
	text-align: center;
}

#estatisticas p{
	color: #A7A7A7;
	text-transform: uppercase;
	font-family: "OpenSans-Light";
	font-size: 64px;
	margin-top: 30px;
}

#estatisticas p small{
	color: #FFF;
	font-size: 24px;
	display: block;
}

#call-to-action{
	text-align: center;
	margin-top: 105px;
}

#call-to-action h2{
	color: #061170;
	font-family: "OpenSans-Light";
	font-size: 48px;
	text-transform: uppercase;
	text-align: center; 
}

#call-to-action hr{
	border: #db0606 solid 8px;
	width: 200px;
	margin: 0 auto;
}

#call-to-action p{
	margin-top: 60px;
	margin-bottom: 40px;
	color: #A7A7A7;
}

#call-to-action .btn{
	min-width: 164px;
    height: 44px;
    line-height: 34px;
}

#call-to-action .btn-azul{
	color: #FFF;
    background-color:  #061170;
    border-color:  #061170;
}

#call-to-action .btn-vermelho{
	color: #FFF;
    background-color: #db0606;
    border-color:  #db0606;
}

#call-to-action .row-max-400{
	margin: 0 auto;
	max-width: 400px;
}

footer{
	margin-top: 110px;
}

footer .row{
	width: 100%;
}

footer .row p{
	line-height: 60px;
	margin-bottom: 0;
}

footer .row-cinza-claro{
	height: 200px;
	background-color: #171F26;
}

footer .row-cinza-escuro{
	height: 60px;
	background-color: #11171D;
	border-top: #242D37 1px solid; 
}

footer .pull-left{
	font-family: "OpenSans";
	font-size: 14px;
	color: #666; 
}

footer .text-azul{
	color:  #061170;
	font-family: "OpenSans";
	font-weight: bold;
	font-size: 14px;
}